.color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.color-card {
  text-align: center;
}

.color-box {
  height: 120px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* Δείγματα */
.oak {
  background: #c8a165;
}

.walnut {
  background: #5c3a21;
}

.white {
  background: #f2f2f2;
  border: 1px solid #ddd;
}
